.bundle/
.DS_Store
.kitchen
.kitchen.yml
.vagrant
*.box
*.iso
*.ovf
*.variables.json
*.vdi
*.vmdk
/boxes/
/builds/
/packer-*/
Berksfile.lock
bootstrap.sh
Gemfile.lock
packer_cache
packer.log
ubuntu/scripts/homestead.sh
virtualfloppy.vfd
